<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="shop.mapper.OrderMapper">
  <insert id="create" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
    insert into "ORDER" (USER_ID, SHIPPING_ADDRESS_ID, CREATED_TIME, "STATE") 
    values (#{userId}, #{shippingAddress.id}, #{createdTime}, #{state})
  </insert>
  
  <insert id="addItem">
    insert into ORDER_ITEM (ORDER_ID, CELLPHONE_ID, QUANTITY) 
    values (#{orderId}, #{cellphone.id}, #{quantity})
  </insert>
  
  <select id="findOne" resultMap="orderDetailsMap">
    select 
      o.ID ORDER_ID, o.CREATED_TIME ORDER_CREATED_TIME, o."STATE" ORDER_STATE,
      a.ID ADDRESS_ID, a.NAME ADDRESS_NAME, a.PHONE_NUMBER ADDRESS_PHONE_NUMBER, a.ADDRESS ADDRESS_DETAILS, 
      i.QUANTITY ITEM_QUANTITY, 
      c.ID CELLPHONE_ID, c.BRAND CELLPHONE_BRAND, c.MODEL CELLPHONE_MODEL, c.PRICE CELLPHONE_PRICE
    from "ORDER" o 
      inner join SHIPPING_ADDRESS a on o.SHIPPING_ADDRESS_ID = a.ID 
      inner join ORDER_ITEM i on i.ORDER_ID = o.ID 
      inner join CELLPHONE c on i.CELLPHONE_ID = c.ID
    where o.USER_ID = #{userId} and o.ID = #{orderId}
  </select>
  
  <resultMap type="Order" id="orderDetailsMap">
    <id column="ORDER_ID" property="id" />
    <result column="ORDER_CREATED_TIME" property="createdTime" />
    <result column="ORDER_STATE" property="state" />
    
    <association property="shippingAddress" javaType="ShippingAddress">
      <id column="ADDRESS_ID" property="id" />
      <result column="ADDRESS_NAME" property="name" />
      <result column="ADDRESS_PHONE_NUMBER" property="phoneNumber" />
      <result column="ADDRESS_DETAILS" property="address" />
    </association>
    
    <collection property="items" ofType="OrderItem">
      <id column="ORDER_ID" />
      <id column="CELLPHONE_ID" />
      <result column="ITEM_QUANTITY" property="quantity" />
      
      <association property="cellphone" javaType="Cellphone">
        <id column="CELLPHONE_ID" property="id" />
        <result column="CELLPHONE_BRAND" property="brand" />
        <result column="CELLPHONE_MODEL" property="model" />
        <result column="CELLPHONE_PRICE" property="price" />
      </association>
    </collection>
  </resultMap>
  
  <select id="findAll" resultType="Order">
    select * from "ORDER" where USER_ID = #{userId}
  </select>
  
  <update id="setTotalAmount">
    update "ORDER" set TOTAL_AMOUNT = #{totalAmount} where ID = #{id}
  </update>
  
  <select id="findOneToPay" resultType="Order">
    select ID, "STATE", TOTAL_AMOUNT from "ORDER" where ID = #{id}
  </select>
  
  <update id="setStateToPaid">
    update "ORDER" set "STATE" = 'Paid' where ID = #{id}
  </update>
</mapper>