<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="shop.mapper.ShippingAddressMapper">
  <select id="findAll" resultType="ShippingAddress">
    select * from SHIPPING_ADDRESS where USER_ID = #{userId}
  </select>
  
  <insert id="create">
    insert into SHIPPING_ADDRESS (USER_ID, NAME, PHONE_NUMBER, ADDRESS)
    values (#{userId}, #{name}, #{phoneNumber}, #{address})
  </insert>
  
  <select id="findOne" resultType="ShippingAddress">
    select * from SHIPPING_ADDRESS 
    where USER_ID = #{userId} and ID = #{shippingAddressId}
  </select>
  
  <update id="update">
    update SHIPPING_ADDRESS 
    set NAME = #{name}, PHONE_NUMBER = #{phoneNumber}, ADDRESS = #{address}
    where USER_ID = #{userId} and ID = #{id}
  </update>
</mapper>