<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="shop.mapper.ShoppingCartMapper">
  <select id="itemExists" resultType="boolean">
    select count(*) > 0 from SHOPPING_CART_ITEM 
    where USER_ID = #{userId} and CELLPHONE_ID = #{cellphoneId}
  </select>
  
  <update id="incItemAmount">
    update SHOPPING_CART_ITEM 
    set AMOUNT = AMOUNT + #{amount} 
    where USER_ID = #{userId} and CELLPHONE_ID = #{cellphoneId}
  </update>
  
  <insert id="createItem">
    insert into SHOPPING_CART_ITEM (USER_ID, CELLPHONE_ID, AMOUNT)
    values (#{userId}, #{cellphoneId}, #{amount})
  </insert>
</mapper>