<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="shop.mapper.UserMapper">
  <insert id="create">
    insert into USER(USERNAME, PASSWORD)
    values(#{username}, #{password})
  </insert>
  
  <select id="findOneByUsername" resultType="User">
    select * from USER where USERNAME = #{username}
  </select>
  
  <update id="updateLastLoginTime">
    update USER set LAST_LOGIN_TIME = #{date} where ID = #{id}
  </update>
</mapper>